[submodule "ext/libminecraft-file"]
	path = deps/libminecraft-file
	url = https://github.com/kbinani/libminecraft-file.git
[submodule "ext/leveldb"]
	path = deps/leveldb
	url = https://github.com/kbinani/leveldb-stdfs.git
[submodule "ext/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/xxhash"]
	path = deps/xxhash
	url = https://github.com/stbrumme/xxhash.git
[submodule "deps/deps/minizip-ng"]
	path = deps/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
[submodule "deps/cxxopts"]
	path = deps/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "deps/thread-pool"]
	path = deps/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
