[submodule "ext/libminecraft-file"]
	path = ext/libminecraft-file
	url = https://github.com/kbinani/libminecraft-file.git
[submodule "ext/leveldb"]
	path = ext/leveldb
	url = https://github.com/kbinani/leveldb.git
[submodule "ext/zlib"]
	path = ext/zlib
	url = https://github.com/commontk/zlib.git
[submodule "ext/setup_source_groups"]
	path = ext/setup_source_groups
	url = https://gist.github.com/d042b6d630d175cc4941eaf6fd2c3a3c.git
[submodule "ext/xxHash"]
	path = ext/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "ext/thread-pool"]
	path = ext/thread-pool
	url = https://github.com/mtrebi/thread-pool.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
